.reports__image {
    margin-right: 10px;
}
  
.reports__images {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
    padding-top: 20px;
}
  
.row.reports_nav {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}