body {
  font-family: 'Nunito'
}

.status_text {
  margin-right: 10px;
}

.fa.fa-circle {
}

.status_item {
  height: 100%;
}

.fa.fa-circle.d-xl-flex.justify-content-xl-center.align-items-xl-center {
  margin: auto 0;
}

.d-xl-flex.justify-content-xl-center.align-items-xl-center.status_text {
  margin: auto 0;
}

.status_item {
  margin: auto 0;
}

.status_text {
  margin-right: 10px;
}

.progress, .progress-bar {
  width: 150px;
}
